.fourSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.fourSection h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.fourSection div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--color-thistle);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fourSection div canvas {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    outline: 1px solid red;
    background-color: rgb(255, 255, 255);
    font-family: 'Fira Code';
}

@media(min-width: 1024px) {
    .fourSection {
        width: 50%;
    }
}